<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-button (click)="addProducts()" color="success">
                    <i class="fas fa-plus"></i> Agregar inventario
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                    <ion-searchbar  formControlName="like" placeholder="Buscar producto por nombre"
                        showCancelButton="always">
                    </ion-searchbar>
                </form>
            </ion-col>
            <ion-col size="12">
                <div *ngIf="skeleton" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" *ngFor="let product of products">
                <ion-card routerLink="/dashboard/product/{{product.id}}">
                    <img class="img-pd" src="https://image.flaticon.com/icons/png/512/102/102348.png" alt="">
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-md">{{product.name_product}}</ion-card-title>
                        <ion-card-subtitle class="uppercase badge center">{{product.brand}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>