<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Venta actual</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-green">Total: {{formaterAmount(total)}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="registerForm" (ngSubmit)="endSale()">
                            <ion-list>
                                <ion-item>
                                    <ion-label>Cliente: </ion-label>
                                    <ion-select formControlName="customer_id" okText="Seleccionar" cancelText="Cancelar">
                                        <ion-select-option [value]="customer.id" *ngFor="let customer of customers">
                                            {{customer.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Tipo de venta: </ion-label>
                                    <ion-select formControlName="type_sale" okText="Seleccionar" cancelText="Cancelar">
                                        <ion-select-option value="0">Contado</ion-select-option>
                                        <ion-select-option value="1">Credito</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                            <ion-button type="submit" [disabled]="registerForm.invalid"  color="success">
                                Terminar venta
                            </ion-button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" *ngFor="let product of products">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Cantidad: {{product.amount}}</ion-card-subtitle>
                        <ion-card-subtitle>Precio: ${{product.price}}</ion-card-subtitle>
                        <ion-card-subtitle>Producto: {{product.product}}</ion-card-subtitle>
                        <ion-card-title class="uppercase badge text-md center">Subtotal: {{formaterAmount(product.subtotal)}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>