<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Creditos del cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card class="center">
                    <ion-card-header>
                        <img src="https://image.flaticon.com/icons/png/512/22/22495.png" class="img-pd img-avatar"
                            alt="">
                            <ion-card-subtitle>Cliente: {{customer.name}}</ion-card-subtitle>
                            <ion-card-subtitle>Total Adeudo: <span class="text-red">{{formaterAmount(totalAdeuda)}}</span> </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" *ngFor="let credit of credits">
                <ion-card routerLink="/dashboard/credit-show/{{credit.id}}">
                    <ion-card-header>
                        <ion-card-subtitle>#: {{credit.id}}</ion-card-subtitle>
                        <ion-card-subtitle>Fecha: {{credit.date | date}}</ion-card-subtitle>
                        <ion-card-subtitle>
                            Estatus: 
                                <span class="text-red"   *ngIf="credit.status == 3">Adeudo</span>
                                <span class="text-green" *ngIf="credit.status == 4">Credito pagado</span>
                        </ion-card-subtitle>
                        <ion-card-title class="uppercase badge text-md center">Subtotal: {{formaterAmount(credit.total)}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>