<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Detalle del producto</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="registerForm" (ngSubmit)="add()">
                            <ion-list>
                                <ion-item line="none">
                                    <ion-label>Producto: </ion-label>
                                    {{product.name_product}}
                                </ion-item>
                                <ion-item line="none">
                                    <ion-label>Existencia: </ion-label>
                                    {{product.stock}}
                                </ion-item>
                                <ion-item line="none">
                                    <ion-label>Precios: </ion-label>
                                    <ion-select formControlName="price" okText="Seleccionar" cancelText="Cancelar">
                                        <ion-select-option value="{{product.price1}}">${{formaterAmount(product.price1)}}</ion-select-option>
                                        <ion-select-option value="{{product.price2}}">${{formaterAmount(product.price2)}}</ion-select-option>
                                        <ion-select-option value="{{product.price3}}">${{formaterAmount(product.price3)}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item line="none">
                                    <ion-label>Cantidad: </ion-label>
                                    <ion-input formControlName="amount" type="number" value="1"></ion-input>
                                </ion-item>
                                <ion-item line="none">
                                    <ion-label>Marca: </ion-label>
                                    {{product.brand}}
                                </ion-item>
                            </ion-list>
                            <ion-button [disabled]="registerForm.invalid" (click)="add()" color="success">
                                <i class="fas fa-plus"></i> Agregar
                            </ion-button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>