<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Sincronizaciónes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-button color="success" (click)="sincCustomers();">Sincronizar clientes</ion-button>
            </ion-col>
            <ion-col size="12">
                <ion-button color="success" (click)="sincProducts();">Sincronizar Productos</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>