<ion-header>
    <ion-toolbar color="dark">
        <ion-title>{{customer.name}} {{customer.lastname}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card routerLink="/dashboard/customer-sales/{{customer.id}}">
                    <img class="img-pd" src="https://image.flaticon.com/icons/png/512/86/86042.png" alt="">
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-md">Compras</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card routerLink="/dashboard/customer-credits/{{customer.id}}">
                    <img class="img-pd" src="https://image.flaticon.com/icons/png/512/60/60378.png" alt="">
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-md">Creditos</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>