<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button style="color:#fff !important;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Detalle del producto</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!--<section class="products_list">

        <div class="card">
            <div class="client">
                <h4> Agregar a la venta</h4>
            </div>
            <div class="type_sale">
                <input type="number" [(ngModel)]="options.cantidad" name="cantidad" class="form-control">
            </div>
            <div class="type_sale">
                <select name="precio" [(ngModel)]="options.precio" class="form-control" id="">
                    <option [value]="product.p1">{{product.p1}}</option>
                    <option [value]="product.p2">{{product.p2}}</option>
                    <option [value]="product.p3">{{product.p3}}</option>
                </select>
            </div>
            <div class="end_sale">
                <a (click)="addToSale()">
                    <i class="fas fa-money-bill-wave"></i>
                    Agregar 
                </a>
            </div>
        </div>
        <div class="list-header">
            <span>ID</span>
            <span>Nom</span>
            <span>Marca</span>
        </div>
        <div class="list-body">
            <span>{{product.id}}</span>
            <span>{{product.nombre}}</span>
            <span>{{product.marca}}</span>
        </div>
    </section>-->
</ion-content>