<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button style="color:#fff !important;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Aymevet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
</ion-content>