<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button style="color:#fff !important;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Vender</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="products_list">
        <h3 class="title_section">
            Carrito de compras
        </h3>
        <div class="card">
            <div class="sale_total">
                Total: $1450.90
            </div>
            <div class="client">
                <h4><i class="fab fa-creative-commons-by"></i> Patricio Gonzalez</h4>
            </div>
            <div class="type_sale">
                <select name="" id="">
                    <option value="">Contado</option>
                    <option value="">Credito</option>
                </select>
            </div>
            <div class="end_sale">
                <a href="">
                    <i class="fas fa-money-bill-wave"></i>
                    Terminar venta
                </a>
            </div>
        </div>
        <div class="list-header">
            <span>Cant</span>
            <span>Prod</span>
            <span>Precio</span>
            <span>Subtotal</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
        <div class="list-body">
            <span>3</span>
            <span>Coca</span>
            <span>$120.40</span>
            <span>$360.98</span>
        </div>
    </section>
</ion-content>