.products_list{
    width: 95%;
    padding: 5px;
    margin: auto;
}
.title_section{
    color:#000;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.products_list .list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #00796b;
    color:#fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.products_list .list-body{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    background: #4db6ac;
    color:#fff;
     box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.card{
    background: #fff;
    padding: 10px;
    margin: 5px 5px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}
.card .sale_total{
    color:#00796b;
    font-weight: bold;
    font-size: 1em;
}
.card .client{
    color:#000;
    margin-bottom: 5px;
}

.card .type_sale{
    width: 80%;
    margin: auto;
}

.card .type_sale select{
    width: 100%;
    min-height: 30px;
    border:2px solid #eceff1;
    border-radius: 10px;
    color:rgba(0,0,0,0.6);
}

.card .end_sale{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: #004c40;
    padding: 6px;
}
.end_sale a{
    color:#ffff;
    text-decoration: none;
}
