<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Compras del cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card class="center">
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-green">Total: {{formaterAmount(total)}}</ion-card-title>
                        <img src="https://image.flaticon.com/icons/png/512/22/22495.png" class="img-pd img-avatar"
                            alt="">
                        <ion-card-subtitle>Cliente: {{customer.name}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" *ngFor="let sale of sales">
                <ion-card routerLink="/dashboard/sale/{{sale.id}}">
                    <ion-card-header>
                        <ion-card-subtitle>#: {{sale.id}}</ion-card-subtitle>
                        <ion-card-subtitle>Fecha: {{sale.date | date}}</ion-card-subtitle>
                        <ion-card-subtitle>
                            Estatus: 
                                <span class="text-green" *ngIf="sale.status == 1">Pagada</span>
                                <span class="text-red"   *ngIf="sale.status == 2">Cancelada</span>
                        </ion-card-subtitle>
                        <ion-card-title class="uppercase badge text-md center">Subtotal: {{formaterAmount(sale.total)}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>