<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Detalle de la venta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card class="center">
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-green">Total: {{formaterAmount(sale.total)}}</ion-card-title>
                        <img src="https://image.flaticon.com/icons/png/512/22/22495.png" class="img-pd img-avatar" alt="">
                        <ion-card-subtitle>Cliente: {{customer.name}}</ion-card-subtitle>
                        <ion-card-subtitle>
                            Estatus: 
                                <span class="text-green" *ngIf="sale.status == 1">Pagada</span>
                                <span class="text-red"   *ngIf="sale.status == 2">Cancelada</span>
                                <span class="text-red"   *ngIf="sale.status == 3">Adeuda</span>
                        </ion-card-subtitle>
                        <ion-card-subtitle>
                            Tipo venta: 
                                <span class="text-green" *ngIf="sale.type_sale == 0">Contado</span>
                                <span class="text-red"   *ngIf="sale.type_sale == 1">Credito</span>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button (click)="cancelSale()" color="danger"><i class="fas fa-trash"></i> Cancelar venta</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" *ngFor="let product of products">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Cantidad: {{product.amount}}</ion-card-subtitle>
                        <ion-card-subtitle>Precio: ${{product.price}}</ion-card-subtitle>
                        <ion-card-subtitle>Producto: {{product.product}}</ion-card-subtitle>
                        <ion-card-title class="uppercase badge text-md center">Subtotal: {{formaterAmount(product.subtotal)}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>