<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Agregar nuevo cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-col size="12">
            <ion-card>
                <ion-card-header>
                    <ion-card-title class="uppercase center text-md">Agregar nuevo cliente</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <form [formGroup]="registerForm" (ngSubmit)="add()">
                        <ion-list>
                            <ion-item>
                                <ion-label position="floating">Nombre</ion-label>
                                <ion-input formControlName="name"></ion-input>
                               
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Apellido</ion-label>
                                <ion-input formControlName="lastName"></ion-input>
                               
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Correo</ion-label>
                                <ion-input formControlName="email"></ion-input>
                               
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Telefono</ion-label>
                                <ion-input formControlName="phone" type="number"></ion-input>
                                
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Direccion</ion-label>
                                <ion-textarea formControlName="address"></ion-textarea>
                               
                            </ion-item>
                        </ion-list>
                        <ion-button type="success" [disabled]="registerForm.invalid" color="success"><i class="fas fa-plus"></i> Registrar</ion-button>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>