<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Aymevet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let item of items">
                <ion-card  routerLink="{{item.route}}">
                    <img class="img-pd" [src]="item.image" alt="">
                    <ion-card-header>
                        <ion-card-title class="uppercase center text-md">{{item.title}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>