<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button style="color:#fff !important;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Agregar cliente</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!--<section class="form-content">
        <div class="card">
            <div class="card-header">
                <h3>Registro de clientes</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="">Nombre del cliente</label>
                    <input type="text" [(ngModel)]="client.nombre" name="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellido del cliente</label>
                    <input type="text" [(ngModel)]="client.apellido" name="apellido" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Correo del cliente</label>
                    <input type="email" [(ngModel)]="client.email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Telefono del cliente</label>
                    <input type="number" [(ngModel)]="client.telefono"  name="telefono" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Direccion del cliente</label>
                    <textarea name="" [(ngModel)]="client.direccion" name="direccion" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <span (click)="addClient()" class="button-add">
                <i class="fas fa-user-plus"></i> Agregar
            </span>
        </div>
    </section>-->
</ion-content>