/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*GLOBAL CSS*/

.uppercase{
    text-transform: uppercase;
}
.text-md{
    font-size: 1em;
}
.center{
    text-align: center;
}
.img-pd{
    padding: 10px;
}
.img-avatar{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto !important;
}
.badge{
    background: #097E63;
    padding: 5px;
    border-radius: 200px;
    color:#fff;
}
.button{
    border-radius: 200px;
    background: red;
}
.text-green{
    color:#097E63;
}
.text-red{
    color:#DC1140;
}
.bold{
    font-weight: bold;
}

.input-control{
    border-bottom:1px solid #aaa;
    margin-bottom: 4px;
}