<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Ventas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card routerLink="/dashboard/sale/1">
                    <ion-card-content class="center">
                        <span class="uppercase bold text-green">Total: {{formaterAmount(total)}}</span>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" *ngFor="let sale of sales">
                <ion-card routerLink="/dashboard/sale/{{sale.id}}">
                    <ion-card-header>
                        <ion-card-subtitle>#: {{sale.id}}</ion-card-subtitle>
                        <ion-card-subtitle>Fecha: {{sale.date | date}}</ion-card-subtitle>
                        <ion-card-subtitle>
                            Estatus: 
                                <span class="text-green" *ngIf="sale.status == 1">Pagada</span>
                                <span class="text-red"   *ngIf="sale.status == 2">Cancelada</span>
                                <span class="text-red"   *ngIf="sale.status == 3">Adeudo</span>
                        </ion-card-subtitle>
                        <ion-card-subtitle>
                            Tipo venta: 
                                <span class="text-green" *ngIf="sale.type_sale == 0">Contado</span>
                                <span class="text-red"   *ngIf="sale.type_sale == 1">Credito</span>
                        </ion-card-subtitle>
                        <ion-card-title class="uppercase badge text-md center">Subtotal: {{formaterAmount(sale.total)}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>