<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Detalle del credito</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card class="center">
                    <ion-card-header>
                        <img src="https://image.flaticon.com/icons/png/512/22/22495.png" class="img-pd img-avatar"
                            alt="">
                        <ion-card-subtitle>Cliente: {{customer.name}}</ion-card-subtitle>
                        <ion-card-subtitle class="uppercase center text-red text-md">Total credito: {{formaterAmount(credit.total)}}</ion-card-subtitle>
                        <ion-card-subtitle class="uppercase center text-green text-md">Total pagado: {{formaterAmount(totalPay)}}</ion-card-subtitle>
                        <ion-card-subtitle class="uppercase center text-green text-md">Deuda: {{formaterAmount(credit.total-totalPay)}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button routerLink="/dashboard/sale/{{credit.id}}" color="success"><i class="fas fa-shopping-basket"></i> Ver productos</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card>
                    <ion-card-content padding>
                        <ion-input [(ngModel)]="pay" name="pay" class="input-control" placeholder="Ingrea el pago"></ion-input>
                        <ion-button [disabled]="(credit.total-totalPay) == 0" (click)="addPay()" color="success">
                            <i class="fas fa-plus"></i> Agregar
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" *ngFor="let pay of pays">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>#: {{pay.id}}</ion-card-subtitle>
                        <ion-card-subtitle>Fecha: {{pay.date | date}}</ion-card-subtitle>
                        <ion-card-title class="uppercase badge text-md center">Pago: {{formaterAmount(pay.pay)}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>