<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Clientes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab routerLink="/dashboard/customer-add" vertical="center" horizontal="end" edge slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-button (click)="addCustomers()" color="success">
                    <i class="fas fa-plus"></i> Agregar clientes
                </ion-button>
            </ion-col>
            <ion-col size="12">
                <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                    <ion-searchbar type="text" required formControlName="like" placeholder="Buscar Cliente por nombre"
                        showCancelButton="always">
                    </ion-searchbar>
                </form>
            </ion-col>
            <ion-col size="12">
                <div *ngIf="skeleton" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="width: 40%; min-height: 200px;">
                        <ion-skeleton-text style="min-height: 200px;" animated></ion-skeleton-text>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!skeleton">
            <ion-col size="6" *ngFor="let customer of customers">
                <ion-card routerLink="/dashboard/customer-menu/{{customer.id}}">
                    <img class="img-pd" src="https://image.flaticon.com/icons/png/512/22/22495.png" alt="">
                    <ion-card-header>
                        <ion-card-subtitle class="uppercase badge center">{{customer.name}}
                        </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>